.recipe-details{
    padding: 5px;
    display: flex !important;
    cursor: pointer;
}

.recipe-details img {
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px;
    max-width: 150px;
}

.recipe-details p {
    padding: 5px;
}